header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D2D3A;
  color: #E1E1E6;
  padding: 1px 50px;
  margin: 0;
  border-bottom: 1px solid #444;
  font-family: 'Roboto', sans-serif;
}

header h2{
  color: #E1E1E6;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 25px;
}

header nav ul li a {
  color: #E1E1E6;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 20px;
  margin-right: 50px;
}

header nav ul li a:hover {
  color: #FF9F1C;
}

header nav ul li a.active-link {
  color: #FF9F1C;
  font-weight: bold;
  border-bottom: 2px solid #FF9F1C;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-size: 26px;
  color: #E1E1E6;
}

.logout-btn {
  background-color: #FF9F1C;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #e68900;
}

.main-content {
  padding: 40px;
  background-color: #F4F4F9;
  min-height: 100vh;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.stats {
  display: flex;
  gap: 50px;
}

.stat-item {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 10px rgb(45, 45, 58, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
}

.stat-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgb(45, 45, 58, 0.6);
}

.stat-item h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #4A4A5A;
}

.stat-item p {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #FF9F1C;
}

.latest-orders {
  margin-top: 80px;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.latest-orders h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.latest-orders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.latest-orders th, .latest-orders td {
  padding: 15px;
  text-align: left;
  border: 1px solid #E1E1E6;
}

.latest-orders th {
  background-color: #FF9F1C;
  color: white;
  font-size: 16px;
}

.latest-orders tr:nth-child(even) {
  background-color: #fff1df;
}

.latest-orders tr:hover {
  background-color: #d6d6d6;
}

.latest-orders td {
  font-size: 15px;
  color: #555;
}

.latest-orders td a {
  color: #4A90E2;
  text-decoration: none;
  font-weight: bold;
}

.latest-orders td a:hover {
  text-decoration: underline;
  color: #FF9F1C;
}

h3, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

